{% set title = "Error 404" %}
{% set description = "This is a description of my website." %}

{% extends "base.html.twig" %}

{% block main %}
    <h1>Error 404</h1>
    <p>Page not found.</p>
{% endblock %}
